# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Environments
.venv/
venv/
ENV/
env/
.env

# Data and Databases
data/*
!data/.gitkeep
*.db
*.sqlite3

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
